.static-top-line {
  background: $primary-bg-color;
  padding: 18px 0;
  color: $primary-text-color;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  border-bottom: 1px solid #e7e7e9;

  &__container {
    @include container;

    display: flex;
    justify-content: center;
    align-items: center;

    @include for-mobile {
      max-width: unset;
      justify-content: space-between;
    }
  }

  &__info {
    margin: 0 40px 0 0;
    padding: 0 0 0 18px;
    position: relative;

    &:last-child {
      margin: 0;
    }

    &-place {
      &::before {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='10' height='14' viewBox='0 0 10 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 4.86633C0 2.18306 2.24302 0 5 0C7.75707 0 10 2.18306 10 4.86633C10 8.07307 5.00492 14 5.00492 14C5.00492 14 0 8.23893 0 4.86633ZM5 6.8984C5.54636 6.8984 6.09263 6.69597 6.5086 6.2912C7.34047 5.48165 7.34047 4.16437 6.5086 3.35474C6.10562 2.96261 5.56989 2.74651 5 2.74651C4.43011 2.74651 3.89429 2.96252 3.49148 3.35474C2.65961 4.16437 2.65961 5.48165 3.49148 6.2912C3.90729 6.69597 4.45373 6.8984 5 6.8984Z' fill='%23FE2626'/%3E%3C/svg%3E");
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 10px;
        height: 14px;
      }
    }

    &-time {
      &::before {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.546 13.092C5.251 13.092 3.986 12.708 2.909 11.9887C1.832 11.2693 0.993 10.2468 0.498 9.0505C0.00300023 7.8543 -0.127 6.538 0.126 5.2681C0.379 3.9983 1.002 2.8319 1.918 1.9165C2.834 1.0011 4 0.377905 5.27 0.125505C6.54 -0.126795 7.856 0.00310466 9.053 0.498905C10.249 0.994705 11.271 1.834 11.99 2.9108C12.709 3.9876 13.092 5.2534 13.092 6.5482C13.089 8.2833 12.399 9.9466 11.172 11.1733C9.945 12.4 8.281 13.09 6.546 13.092Z' fill='%23FE2626'/%3E%3Cpath d='M6.54596 1.63696C5.57496 1.63676 4.62496 1.92456 3.81796 2.46396C3.00996 3.00336 2.38096 3.77016 2.00896 4.66726C1.63696 5.56446 1.53996 6.55176 1.72896 7.50426C1.91796 8.45676 2.38596 9.33176 3.07296 10.0186C3.75896 10.7054 4.63396 11.1732 5.58696 11.3627C6.53896 11.5522 7.52596 11.4551 8.42396 11.0835C9.32096 10.7119 10.088 10.0825 10.627 9.27506C11.167 8.46756 11.455 7.51816 11.455 6.54706C11.453 5.24566 10.935 3.99806 10.015 3.07776C9.09496 2.15756 7.84696 1.63976 6.54596 1.63806V1.63696Z' fill='%23FE2626'/%3E%3Cpath d='M6.54602 3.49585V7.16635H9.49402' stroke='white' stroke-width='1.5'/%3E%3C/svg%3E");
        background-size: cover;
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 13px;
        height: 13px;
      }
    }

    @include for-mobile {
      display: none;
    }
  }

  &__select {
    border: none;
    background: none;
    color: $primary-text-color;
    opacity: 1;
  }

  &__additional {
    display: none;

    @include for-mobile {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='14' height='15' viewBox='0 0 14 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 0.96875C8.20312 0.96875 9.35156 1.29688 10.3906 1.89844C11.4297 2.5 12.25 3.32031 12.8516 4.35938C13.4531 5.39844 13.7812 6.54688 13.7812 7.75C13.7812 8.98047 13.4531 10.1016 12.8516 11.1406C12.25 12.1797 11.4297 13.0273 10.3906 13.6289C9.35156 14.2305 8.20312 14.5312 7 14.5312C5.76953 14.5312 4.64844 14.2305 3.60938 13.6289C2.57031 13.0273 1.72266 12.1797 1.12109 11.1406C0.519531 10.1016 0.21875 8.98047 0.21875 7.75C0.21875 6.54688 0.519531 5.39844 1.12109 4.35938C1.72266 3.32031 2.57031 2.5 3.60938 1.89844C4.64844 1.29688 5.76953 0.96875 7 0.96875ZM7 3.97656C6.67188 3.97656 6.39844 4.11328 6.17969 4.33203C5.96094 4.55078 5.85156 4.82422 5.85156 5.125C5.85156 5.45312 5.96094 5.72656 6.17969 5.94531C6.39844 6.16406 6.67188 6.27344 7 6.27344C7.30078 6.27344 7.57422 6.16406 7.79297 5.94531C8.01172 5.72656 8.14844 5.45312 8.14844 5.125C8.14844 4.82422 8.01172 4.55078 7.79297 4.33203C7.57422 4.11328 7.30078 3.97656 7 3.97656ZM8.53125 10.9219V10.2656C8.53125 10.1836 8.47656 10.1016 8.42188 10.0469C8.36719 9.99219 8.28516 9.9375 8.20312 9.9375H7.875V7.20312C7.875 7.12109 7.82031 7.03906 7.76562 6.98438C7.71094 6.92969 7.62891 6.875 7.54688 6.875H5.79688C5.6875 6.875 5.60547 6.92969 5.55078 6.98438C5.49609 7.03906 5.46875 7.12109 5.46875 7.20312V7.85938C5.46875 7.96875 5.49609 8.05078 5.55078 8.10547C5.60547 8.16016 5.6875 8.1875 5.79688 8.1875H6.125V9.9375H5.79688C5.6875 9.9375 5.60547 9.99219 5.55078 10.0469C5.49609 10.1016 5.46875 10.1836 5.46875 10.2656V10.9219C5.46875 11.0312 5.49609 11.1133 5.55078 11.168C5.60547 11.2227 5.6875 11.25 5.79688 11.25H8.20312C8.28516 11.25 8.36719 11.2227 8.42188 11.168C8.47656 11.1133 8.53125 11.0312 8.53125 10.9219Z' fill='%230D0B22'/%3E%3C/svg%3E");
      display: inline-block;
      width: 14px;
      height: 15px;
    }
  }

  @include for-mobile {
    padding: 15px 0;
  }
}

.navigation {
  z-index: 2;
  position: relative;
  background: #fff;

  &__container {
    @include container;

    max-width: 1190px;
    padding: 24px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include for-tablet {
      max-width: 100%;
    }

    @include for-mobile {
      max-width: unset;
      padding: 20px;
      flex-wrap: wrap;
    }
  }

  &__menu {
    position: relative;
    display: flex;
    align-items: center;

    @include for-mobile {
      order: 1;
    }
  }

  &__toggle {
    position: relative;
    display: block;
    width: 18px;
    margin: 0 20px 0 0;
    cursor: pointer;

    div {
      background: $primary-text-color;
      width: 100%;
      height: 2.5px;
      margin: 0 0 3.5px;
      border-radius: 1.25px;

      &:last-child {
        margin: 0;
      }
    }
  }

  &__logo {
    position: relative;

    img {
      @include for-mobile {
        width: 78px;
      }
    }
  }

  &__img {
    background: url("../images/logo.svg") no-repeat;
    display: block;
    width: 96px;
    height: 30px;
  }

  &__search {
    label {
      position: relative;

      &::after {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.8171 11.9294L9.85956 8.96006C10.6202 8.08667 11.037 6.98815 11.037 5.8446C11.037 3.17334 8.7858 1 6.0178 1C3.25116 1 1 3.17334 1 5.8446C1 8.51665 3.25116 10.69 6.0178 10.69C7.05665 10.69 8.0475 10.3877 8.89326 9.81266L11.8743 12.8057C11.9989 12.9313 12.1661 13 12.3464 13C12.5157 13 12.6764 12.9373 12.7991 12.8233C13.0601 12.5816 13.0675 12.1814 12.8171 11.9294ZM6.0178 2.26414C8.06332 2.26414 9.72756 3.87085 9.72756 5.8446C9.72756 7.81941 8.06332 9.42586 6.0178 9.42586C3.97337 9.42586 2.30941 7.81941 2.30941 5.8446C2.30941 3.87085 3.97337 2.26414 6.0178 2.26414Z' fill='%230D0B22'/%3E%3Cpath d='M12.8171 11.9294L12.9945 11.7532L12.9942 11.753L12.8171 11.9294ZM9.85956 8.96006L9.67104 8.79587L9.51809 8.97149L9.68244 9.13649L9.85956 8.96006ZM8.89326 9.81266L9.07039 9.63624L8.92411 9.48936L8.75269 9.60592L8.89326 9.81266ZM11.8743 12.8057L12.0517 12.6296L12.0514 12.6293L11.8743 12.8057ZM12.7991 12.8233L12.6292 12.6399L12.629 12.6402L12.7991 12.8233ZM12.9942 11.753L10.0367 8.78364L9.68244 9.13649L12.64 12.1058L12.9942 11.753ZM10.0481 9.12426C10.8476 8.20626 11.287 7.04971 11.287 5.8446H10.787C10.787 6.92659 10.3929 7.96708 9.67104 8.79587L10.0481 9.12426ZM11.287 5.8446C11.287 3.02702 8.91547 0.75 6.0178 0.75V1.25C8.65613 1.25 10.787 3.31967 10.787 5.8446H11.287ZM6.0178 0.75C3.12145 0.75 0.75 3.02707 0.75 5.8446H1.25C1.25 3.31962 3.38088 1.25 6.0178 1.25V0.75ZM0.75 5.8446C0.75 8.66291 3.12142 10.94 6.0178 10.94V10.44C3.38091 10.44 1.25 8.3704 1.25 5.8446H0.75ZM6.0178 10.94C7.10593 10.94 8.14591 10.6231 9.03383 10.0194L8.75269 9.60592C7.94909 10.1523 7.00737 10.44 6.0178 10.44V10.94ZM8.71613 9.98908L11.6971 12.9821L12.0514 12.6293L9.07039 9.63624L8.71613 9.98908ZM11.6968 12.9818C11.8695 13.1558 12.101 13.25 12.3464 13.25V12.75C12.2312 12.75 12.1283 12.7068 12.0517 12.6296L11.6968 12.9818ZM12.3464 13.25C12.5781 13.25 12.7997 13.164 12.9693 13.0065L12.629 12.6402C12.5531 12.7107 12.4534 12.75 12.3464 12.75V13.25ZM12.969 13.0067C13.3342 12.6685 13.3442 12.1052 12.9945 11.7532L12.6398 12.1056C12.7908 12.2576 12.786 12.4947 12.6292 12.6399L12.969 13.0067ZM6.0178 2.51414C7.93366 2.51414 9.47756 4.01718 9.47756 5.8446H9.97756C9.97756 3.72451 8.19298 2.01414 6.0178 2.01414V2.51414ZM9.47756 5.8446C9.47756 7.6731 7.93364 9.17586 6.0178 9.17586V9.67586C8.19301 9.67586 9.97756 7.96573 9.97756 5.8446H9.47756ZM6.0178 9.17586C4.10313 9.17586 2.55941 7.67317 2.55941 5.8446H2.05941C2.05941 7.96566 3.84361 9.67586 6.0178 9.67586V9.17586ZM2.55941 5.8446C2.55941 4.01711 4.1031 2.51414 6.0178 2.51414V2.01414C3.84364 2.01414 2.05941 3.72458 2.05941 5.8446H2.55941Z' fill='%230D0B22'/%3E%3C/svg%3E");
        background-size: cover;
        content: "";
        position: absolute;
        top: 50%;
        margin-top: -6px;
        right: 20px;
        width: 12px;
        height: 12px;
        z-index: 1;
      }

      &:focus::after {
        display: none;
      }

      @include for-mobile {
        margin: 20px 0 0 0;
        width: 100%;
      }
    }

    @include for-tablet {
      display: none;
    }

    @include for-mobile {
      margin: 0 auto;
      width: 100%;
      display: block;
      order: 3;
    }
  }

  &__searchfield {
    height: auto;
    font-size: 14px;
    color: $primary-text-color;
    background: $primary-bg-color;
    font-weight: 500;
    width: 418px;
    border: 1px solid #e7e7e9;
    padding: 12px 20px;
    z-index: 0;
    border-radius: 5px;

    &:focus {
      border: 1px solid #d0d0d0;
      position: relative;
      z-index: 2;
    }

    @include for-mobile {
      width: 100%;
    }
  }
}
