.main-banner {
  padding: 120px 0;

  &__container {
    @include container;

    @include for-mobile {
      text-align: center;
    }
  }

  &__welcome {
    display: inline-block;
    padding: 9px 20px;
    margin: 0 0 20px;
    font-size: 14px;
    font-weight: 800;
    background: #fff;
    border-radius: 17.5px;
    color: #fe2626;
    text-transform: uppercase;

    @include for-tablet {
      font-size: 13px;
      margin: 0 0 15px;
    }
  }

  &__title {
    max-width: 440px;
    font-weight: bold;
    font-size: 45px;
    line-height: 53px;
    color: $primary-text-color;
    margin: 0 0 15px;

    @include for-tablet {
      font-size: 35px;
      line-height: 43px;
      margin: 0 0 15px;
    }

    @include for-mobile {
      text-align: center;
      font-size: 28px;
      line-height: 40px;
    }
  }

  &__subtitle {
    font-size: 15px;
    line-height: 27px;
    color: #43596c;
    letter-spacing: 0.47px;
    margin: 0 0 29px;
    max-width: 400px;

    @include for-tablet {
      font-size: 14px;
      line-height: 24px;
      margin: 0 0 25px;
    }

    @include for-mobile {
      text-align: center;
      font-size: 14px;
      line-height: 25px;
    }
  }

  &__cta {
    display: inline-block;
    position: relative;
    background: #fe2626;
    border-radius: 5px;
    padding: 16px 28px;

    &:hover {
      text-decoration: none;
    }

    span {
      color: #fff;
      position: relative;
    }

    @include for-tablet {
      font-size: 14px;
      padding: 12px 30px;
    }

    @include for-mobile {
      width: 100%;
      max-width: 280px;
      text-align: center;
    }
  }

  @include for-large {
    max-height: 556px;
  }

  @include for-tablet {
    padding: 75px 0;
  }

  @include for-mobile {
    padding: 35px 0;
  }
}
