@mixin container {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
}

.main-banner {
  height: 46.17vw;
}

.banner-info {
  @include container;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;

  &__welcome {
    padding: 9px 21px 8px 20px;
    margin: 0 0 20px;
    font-size: 14px;
    font-weight: 800;
    background: #fff;
    border-radius: 17.5px;
    color: #fe2626;
  }

  &__title {
    font-weight: bold;
    font-size: 45px;
    line-height: 53px;
    color: #0d0b22;
    margin: 0 0 15px;
  }

  &__subtitle {
    font-size: 15px;
    line-height: 27px;
    color: #43596c;
    letter-spacing: 0.47;
    margin: 0 0 29px;
  }

  &__cta {
    position: relative;
    background: #fe2626;
    width: 166px;
    border-radius: 5px;
    padding: 16px 25px;

    &:hover {
      text-decoration: none;
    }

    span {
      color: #fff;
      position: relative;
    }
  }
}
