@font-face {
  font-family: "SF Pro Text";
  src:
    url("../fonts/fontsfree-net-sfprotext-medium-1-webfont.woff2") format("woff2"),
    url("../fonts/fontsfree-net-sfprotext-medium-1-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Text";
  src:
    url("../fonts/sfprotext-medium-italic.woff2") format("woff2"),
    url("../fonts/sfprotext-medium-italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
