body {
  margin: 0;
  font-family: "SF Pro Text", sans-serif;
}

@mixin container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;

  @include for-tablet {
    max-width: 688px;
  }

  @include for-mobile {
    max-width: 280px;
  }
}
