.nav-container .nav-wrapper {
  background: #fff;
}

.nav-content {
  width: 100%;
}

.nav-wrapper-0 {
  & > .nav-content {
    display: grid;
    grid-template-columns: 62px minmax(auto, 428px);
    grid-template-rows: 30px;
    padding: 80px 0 0 0;

    & > ul {
      padding: 50px 0 0 62px;
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
}

.nav-close {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-close-button {
  display: block;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.16934 7.00311L12.7576 2.41688C13.0808 2.09166 13.0808 1.56551 12.7576 1.24236C12.4345 0.919213 11.9083 0.919213 11.5914 1.24236L7.00311 5.83066L2.41688 1.24236C2.09166 0.919213 1.56551 0.919213 1.24236 1.24236C0.919213 1.56551 0.919213 2.09166 1.24236 2.41688L5.83066 7.00311L1.24236 11.5914C0.919213 11.9083 0.919213 12.4345 1.24236 12.7576C1.56551 13.0808 2.09166 13.0808 2.41688 12.7576L7.00311 8.16934L11.5914 12.7576C11.9083 13.0808 12.4345 13.0808 12.7576 12.7576C13.0808 12.4345 13.0808 11.9083 12.7576 11.5914L8.16934 7.00311Z' fill='%230D0B22' stroke='%230D0B22' stroke-width='0.5'/%3E%3C/svg%3E");
  background-size: cover;
  width: 12px;
  height: 12px;
}

.hc-offcanvas-nav.disable-body.nav-open::after,
.hc-offcanvas-nav .sub-level-open::after {
  background: rgba(0, 0, 0, 0.6);
}

.navigation {
  &__level1 {
    outline: none;
    padding: 0;
    margin: 0 0 40px 0;
    line-height: 1;

    .nav-item-link {
      color: #0d0b22;
      font-weight: 800;
      font-size: 30px;
      line-height: 14px;
    }

    .nav-wrapper-1 {
      .nav-item-link {
        color: #3e596e;
        font-weight: 500;
        font-size: 14px;
        line-height: 30px;
      }
    }

    &:last-child {
      margin: 0 0 50px 0;
    }
  }
}
